/*css pentru css properties*/
.containerLi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.lista1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.p1 {
  display: flex;
  justify-content: center;
  color: rgb(84, 92, 169);
  font-weight: bold;
}
.fontExp {
  display: flex;
  flex-direction: row;
}
.imgFont {
  max-width: 70%;
  max-height: fit-content;
}
.fontStyle {
  display: flex;
  flex-direction: row;
}
.imgStyle {
  max-width: 70%;
  max-height: fit-content;
}
.txtAlign {
  display: flex;
  flex-direction: row;
}
.imgAlign {
  max-width: 70%;
  max-height: fit-content;
}
.txtDecoration {
  display: flex;
  flex-direction: row;
}
.imgDecoration {
  max-width: 70%;
  max-height: fit-content;
}
.fontSize {
  display: flex;
  flex-direction: row;
}
.imgFontSize {
  max-width: 70%;
  max-height: fit-content;
}
.lista2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.bgColor {
  display: flex;
  flex-direction: row;
}
.imgBgColor {
  max-width: 70%;
  max-height: fit-content;
}
.colorGeneral {
  display: flex;
  flex-direction: row;
}
.imgColorGeneral {
  max-width: 70%;
  max-height: fit-content;
}
.BgImagine {
  display: flex;
  flex-direction: row;
}
.bgImg {
  max-width: 70%;
  max-height: fit-content;
}
.lista3 {
  display: flex;
  flex-direction: column;
}
.ulImg {
  display: flex;
  flex-direction: row;
}
.listaLink {
  list-style: none;
  flex-direction: row;
}

.imgLinkuri {
  max-width: 70%;
  max-height: fit-content;
}
.p2 {
  display: flex;
  justify-content: center;
  color: rgb(84, 92, 169);
  font-weight: bold;
}
.lista4 {
  display: flex;
  flex-direction: column;
}
.p3 {
  display: flex;
  justify-content: center;
  color: rgb(84, 92, 169);
  font-weight: bold;
}
.subLista4 {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}
/* General css*/
body {
  margin: 20px 20px 20px 20px;
}
/* css pentru cssLayout*/
.layoutContainer1 {
  display: flex;
  flex-direction: column;
}
.h2Layout {
  display: flex;
  justify-content: center;
  color: rgb(18, 8, 37);
}
.listPosition {
  list-style: circle;
  row-gap: 5px;
}
.layoutContainer2 {
  display: flex;
  flex-direction: column;
}
.imgStatic {
  width: 400px;
}
.PsStatic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layoutContainer3 {
  display: flex;
  flex-direction: column;
}
.imgRelative {
  width: 400px;
  position: relative;
  left: 40px;
}
.PsRelative {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layoutContainer4 {
  display: flex;
  flex-direction: column;
}
.PsFixed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgFixed {
  width: 200px;

  position: fixed;
  bottom: 0;
  right: 0;
}
.layoutContainer5 {
  display: flex;
  flex-direction: column;
}
.PsAbsolute {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgAbsolute {
  width: 400px;
}
.layoutContainer6 {
  display: flex;
  flex-direction: column;
}
.zIndex1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgZindex1 {
  width: 400px;
  flex-shrink: 5;
}
.imgZindex2 {
  width: 400px;
  flex-shrink: 5;
}
.imgZindex3 {
  width: 400px;
  flex-shrink: 5;
  flex-basis: auto;
}
.exempleZindex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 20px;
}
/*css Flexbox*/
.flexContainer1 {
  display: flex;
  flex-direction: row;
  row-gap: 30px;
}
.h1Flex {
  display: flex;
  justify-content: center;
  color: rgb(38, 64, 87);
  text-decoration: underline;
}
.H3flexParinti {
  display: flex;
  justify-content: center;
  color: rgb(27, 74, 89);
  text-decoration: underline;
}
.flexDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.displayFlexImg {
  width: 300px;
  flex-shrink: 5;
}
.flexDirection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.flexDirectionImg {
  width: 300px;
  flex-shrink: 5;
}
.flexWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.flexWrapImg {
  width: 300px;
  flex-shrink: 5;
}
.flexFlow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.flexFlowImg {
  width: 300px;
}
.justifyContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.justifyContentImg {
  width: 300px;
}
.alignItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.alignItemsImg {
  width: 300px;
}
.alignContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.alignContentImg {
  width: 300;
}
.gapRowColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.gapImg {
  width: 300;
}
