/*css pentru navbar si link*/
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(122, 143, 143);
  z-index: 2;
}
.linkTextNav {
  color: aliceblue;
  display: inline;
}

/*css pentru css properties*/
.containerLi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.lista1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.p1 {
  display: flex;
  justify-content: center;
  color: rgb(84, 92, 169);
  font-weight: bold;
}
.fontExp {
  display: flex;
  flex-direction: row;
}
.imgFont {
  max-width: 70%;
  max-height: fit-content;
}
.fontStyle {
  display: flex;
  flex-direction: row;
}
.imgStyle {
  max-width: 70%;
  max-height: fit-content;
}
.txtAlign {
  display: flex;
  flex-direction: row;
}
.imgAlign {
  max-width: 70%;
  max-height: fit-content;
}
.txtDecoration {
  display: flex;
  flex-direction: row;
}
.imgDecoration {
  max-width: 70%;
  max-height: fit-content;
}
.fontSize {
  display: flex;
  flex-direction: row;
}
.imgFontSize {
  max-width: 70%;
  max-height: fit-content;
}
.lista2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.bgColor {
  display: flex;
  flex-direction: row;
}
.imgBgColor {
  max-width: 70%;
  max-height: fit-content;
}
.colorGeneral {
  display: flex;
  flex-direction: row;
}
.imgColorGeneral {
  max-width: 70%;
  max-height: fit-content;
}
.BgImagine {
  display: flex;
  flex-direction: row;
}
.bgImg {
  max-width: 70%;
  max-height: fit-content;
}
.lista3 {
  display: flex;
  flex-direction: column;
}
.ulImg {
  display: flex;
  flex-direction: row;
}
.listaLink {
  list-style: none;
  flex-direction: row;
}

.imgLinkuri {
  max-width: 70%;
  max-height: fit-content;
}
.p2 {
  display: flex;
  justify-content: center;
  color: rgb(84, 92, 169);
  font-weight: bold;
}
.lista4 {
  display: flex;
  flex-direction: column;
}
.p3 {
  display: flex;
  justify-content: center;
  color: rgb(84, 92, 169);
  font-weight: bold;
}
.subLista4 {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}
/* General css*/
/* General css*/
body {
  margin: 20px 20px 20px 20px;
}
/* css pentru cssLayout*/
.layoutContainer1 {
  display: flex;
  flex-direction: column;
}
.h2Layout {
  display: flex;
  justify-content: center;
  color: rgb(18, 8, 37);
}
.listPosition {
  list-style: circle;
  row-gap: 5px;
}
.layoutContainer2 {
  display: flex;
  flex-direction: column;
}
.imgStatic {
  width: 400px;
}
.PsStatic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layoutContainer3 {
  display: flex;
  flex-direction: column;
}
.imgRelative {
  width: 400px;
  position: relative;
  left: 40px;
}
.PsRelative {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layoutContainer4 {
  display: flex;
  flex-direction: column;
}
.PsFixed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgFixed {
  width: 200px;

  position: fixed;
  bottom: 0;
  right: 0;
}
.layoutContainer5 {
  display: flex;
  flex-direction: column;
}
.PsAbsolute {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgAbsolute {
  width: 400px;
}
.layoutContainer6 {
  display: flex;
  flex-direction: column;
}
.zIndex1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgZindex1 {
  width: 400px;
  flex-shrink: 5;
}
.imgZindex2 {
  width: 400px;
  flex-shrink: 5;
}
.imgZindex3 {
  width: 400px;
  flex-shrink: 5;
  flex-basis: auto;
}
.exempleZindex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 20px;
}
/*css Flexbox*/
.flexContainer1 {
  display: flex;
  flex-direction: row;
  row-gap: 30px;
}
.h1Flex {
  display: flex;
  justify-content: center;
  color: rgb(38, 64, 87);
  text-decoration: underline;
}
.H3flex {
  display: flex;
  justify-content: center;
  color: rgb(27, 74, 89);
  text-decoration: underline;
}
.flexDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.displayFlexImg {
  width: 35%;
  height: auto;
}
.flexDirection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.flexDirectionImg {
  width: 35%;
  height: auto;
}
.flexWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.flexWrapImg {
  width: 35%;
  height: auto;
}
.flexFlow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.flexFlowImg {
  width: 35%;
  height: auto;
}
.justifyContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.justifyContentImg {
  width: 35%;
  height: auto;
}
.alignItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.alignItemsImg {
  width: 35%;
  height: auto;
}
.alignContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.alignContentImg {
  width: 35%;
  height: auto;
}
.gapRowColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.gapImg {
  width: 35%;
  height: auto;
}
.flexItemsMax {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.flexItems {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  text-align: center;
}
/*css Index*/
.indexContainer1 {
  display: flex;
  flex-direction: column;
}
.h1Container1 {
  display: flex;
  justify-content: center;
}
.indexContainer2 {
  display: flex;
  flex-direction: row;
  gap: 15px 15px;
}
.h2Container1 {
  align-content: center;
}
.indexContainer3 {
  display: flex;
  flex-direction: row;
  gap: 15px 15px;
  align-items: flex-start;
}
.h2Container2 {
  display: flex;
  justify-content: center;
}
.indexContainer4 {
  display: flex;
  flex-direction: row;
}
.tableIndex1 {
  display: table;
}
.tableIndex1 tr,
th {
  border: 1px solid black;
  background-color: rgb(132, 188, 170);
}
.indexContainer5 {
  display: flex;
  flex-direction: column;
}
.indexOlList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(135, 135, 135);
  border: 1px dotted black;
}
.indexContainer6 {
  display: flex;
  flex-direction: column;
}
/*css elemente si tag*/
.containerElemMax {
  display: flex;
  flex-direction: column;
}
.elemH1container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  color: rgb(103, 103, 136);
  text-decoration: underline;
}
.containerElemente1 {
  display: flex;
  flex-direction: column;
}
.elemH2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dlElemen1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(190, 190, 191);
  border: 2px solid black;
  align-content: center;
}
.containerElemT {
  display: flex;
  flex-direction: column;
}
.olElemente2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10 10;
  align-content: center;
}
.liDl1 {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.ulDl1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerElemente2 {
  display: flex;
  flex-direction: row;
}
/*css formulare*/
.formulareContainer1 {
  display: flex;
  flex-direction: row;
}
.h1Form {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.containerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
/*css multimedia*/
.multimediaContainerMax {
  display: flex;
  flex-direction: column;
}

.multimediaContainer1 {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: space-around;
  align-content: center;
  overflow: hidden;
  /* flex-wrap: wrap;*/
}

.olMultimedia {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.imgMultimedia1 {
  width: 100%;
  height: auto;
}
.imgNaturaResponsive {
  width: 100%;
  height: auto;
}
.videoMultimedia {
  width: 100%;
  height: auto;
}
/*css pentru git*/
.GitPartea1 {
  display: flex;
  flex-direction: column;
  border: 1px double grey;
  align-content: flex-start;
}

@media screen and (max-width: 375px) {
  .navBar {
    display: none;
  }
  .indexContainer1,
  .indexContainer2,
  .indexContainer3,
  .indexContainer4,
  .indexContainer5,
  .indexContainer6 {
    display: flex;
    flex-wrap: wrap;
  }
}
